<div class="container" ng-controller="listeCandidats">
    <div class="col-offset-3 col-auto panel">
    <h3 class="text-center">liste des personnes</h3>
      <form class="form-well jumbotron" ng-repeat="Candidat in lescandidats">
        <input hidden="true" type="text" class="form-control" ng-model="Candidat.idcandidat"/>

        <div class="col-auto row form-group">
            <label class="form-label col">Employeur: </label><input type="text" ng-model="Candidat.employeur" />
            <label class="form-label col">DATE DEB:</label><input type="text"  ng-model="Candidat.debut_contrat" />
            <label class="form-label col">DATE FIN: </label><input type="text" ng-model="Candidat.fin_contrat" />
        </div>   

        <div class="col-auto row form-group">
            <label class="form-label col">Commentaire Employeur: </label><input type="text" ng-model="Candidat.xpro_Commentaire" />
        </div>

        <div class="col-auto row form-group" ng-controller="operationUtilisateur">  
            <input type="submit" ng-click="modifier()" class=" col-12 btn btn-success" value="valider Modif" />
        </div>

      </form>
    </div>
</div>

