<div class="container" ng-controller="listeCandidats" >

    <div class="col-offset-3 col-auto panel">
      <form class="form-well jumbotron" ng-repeat="Candidat in lescandidats">
        <input hidden="true" type="text" class="form-control" ng-model="Candidat.idcandidat"/>

        <div class="col-auto row form-group">
            <label class="form-label col" > NOM :</label><input type="text"  ng-model="Candidat.nom" />
            <label class="form-label col" > PRENOM:</label><input type="text" ng-model="Candidat.prenom" />
        </div>
        <div class="col-auto row form-group" ng-controller="operationUtilisateur">
            <input type="submit" ng-click="consulterCandidat(Candidat.idcandidat)" class=" col-12 btn btn-success" value="consulter " />
        </div>

      </form>
    </div>
</div>
